# Порт, на котором крутится frontend-приложение
PORT=3000
# env: local / development / production
PUBLIC_ENV=local
# URL сайта
HOST=https://domain.ru
# URL сайта, где живет API (обычно равно значению HOST)
PUBLIC_API_HOST=https://domain.ru
# Токен для инвалидации кеша изображений
OPTIMIZE_INVALIDATE_TOKEN=1234567890
# Token для доступа к Figma API
PUBLIC_FIGMA_TOKEN=
# ID файла в Figma
PUBLIC_FIGMA_FILE_ID=